<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사이트</title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>

    <div th:if="${#authorization.expression('isAuthenticated()')}" th:fragment="sidebar" class="nav-bar">
        <div>
            <h2>우리들 반찬가게</h2>
        </div>
        <br/>

        <div class="user-welcome" th:text="|${#authentication.name}님 환영합니다.|">OOO님 환영합니다.</div>
        <br/>

        <a class="nav-link" href="/">반찬보기</a>
        <br/>

        <a class="nav-link" href="/cart/cart-list">장바구니 보기</a>
        <a class="nav-link" href="/order/myorder">나의 주문 내역</a>
        <a class="nav-link" href="/user/mypage">개인정보수정</a>
        <a class="logout-btn" href="/logout">로그아웃</a>
    </div>

    <div th:unless="${#authorization.expression('isAuthenticated()')}" th:fragment="sidebar" class="nav-bar" sec:authorize="!isAuthenticated()">
        <div>
            <h2>우리들 반찬가게</h2>
        </div>
        <br/>

        <a class="nav-link" href="/">반찬보기</a>
        <br/>

        <a class="logout-btn" href="/login">로그인 하기</a>
    </div>

</body>
</html>
